<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.goodreader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".manual"></activity>
        <activity android:name=".howtorooread" />
        <activity android:name=".howtowordgame" />
        <activity android:name=".howtogame1" />
        <activity android:name=".infome" />

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".Wrong"
            android:theme="@style/AppTheme.popMe" />
        <activity
            android:name=".Correct"
            android:theme="@style/AppTheme.popMe" />
        <activity
            android:name=".sumtraingame"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".traingame1"
            android:screenOrientation="fullSensor" />
        <activity android:name=".traingamestart" />
        <activity
            android:name=".wordgamepop"
            android:theme="@style/AppTheme.popMe" />
        <activity
            android:name=".sumwordgame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Sumstoriegame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abcd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Storiegame1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StoriegameStart"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settingAc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Wordgame1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RegisAc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Wordgamestart"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>